.hover-effect {
    transition: all 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hover-effect-1 {
    transition: all 0.3s ease;
}

.hover-effect-1:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sidebar-hidden {
    display: none;
}
.sidebar,
.main-content {
    transition: all 0.3s ease;
 } 
